body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.title-card{
    font-weight: bold;
    margin: 0px;
    
}
.secondary-text{
    font-weight: normal;
}
.content-card{
    line-height: 25px;
    margin: 44px;
}