$backgroundBody: linear-gradient(90deg, rgba(251,194,235,1) 0%, rgba(212,194,236,1) 52%, rgba(166,193,238,1) 100%);;
$backgroundCard: #FFF;
$colorText: #8F8F8F;
$colorTitle: black;
$colorTextBtn: #79069B;